<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">New Resident</h1>
                        </div>
                        <form action="/createResident" method="POST" class="user">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user"
                                    placeholder="Building Name" name="name" required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user"  placeholder="Date of birth" name="dob" required="true">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control form-control-user" placeholder="Contact" name="contact" required="true" max="99">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control form-control-user" placeholder="Staff" name="staff" required="true" max="10">
                            </div>
                            <button type="submit" id="update-btn" class="btn btn-facebook btn-user btn-block">
                                <i class="fa fa-login"></i> Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>