<%- include('partials/header.ejs') %>

<body id="page-top">

    <%- include('partials/navSection.ejs') %>
   
                <!-- End of Topbar -->
                <%- include('partials/createBuildingForm.ejs') %>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

    <%- include('partials/footer.ejs') %>