.cursor-pointer{
    cursor: pointer!important;
  }
textarea{
    border-radius: 15px!important;
    padding: 1rem;
}
li{
   list-style: none;
}

@media (max-width: 576px){
    body{
        font-size:16px;
    }
    .table td, .table th{
        padding: 0.2rem;
        padding-left: 0.3rem;
    }
    .card-body{
        padding: 0.5rem;
    }
    .container-fluid{
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
    .dropdown .dropdown-menu{
        width: 100%;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
        float: none;
        }
}

button{
    background: none;
    border: none;
    outline:none!important;
}

.clickable {
    cursor:pointer;
 }