<%- include("partials/head.ejs") %>

<%- include("partials/header.ejs") %>

<main>
    <a href="/"><button>Back</button></a>
    <h1>Completed Todos</h1>
    <ul>
         <% todos.forEach((todo, index) => { %>
            <% if(todo.completed == true){  %>
            <a href="/todo/<%= todo._id %>">
            <li><%= todo.message %></li>
            </a>
            <% } %>
         <% }) %>
    </ul>
</main>
